#!/bin/bash

set -e

export WORK_DIR="{{ app_deploy_target }}"

export NVM_DIR="$HOME/.nvm"
source "$NVM_DIR/nvm.sh"

cd $WORK_DIR/api-v8/
echo "install v2 laravel vendors"
composer update --optimize-autoloader --no-dev
echo "install v2 nodejs packages"
npm install --omit=dev

cd $WORK_DIR/api-v8/public/
echo "install v1 vendors"
composer update --optimize-autoloader --no-dev
echo "install v1 nodejs packages"
npm install --omit=dev

cd $WORK_DIR/api-v8/
echo "caching configuration "
php artisan config:cache
echo "caching events"
php artisan event:cache
echo "caching routes"
php artisan route:cache
echo "caching views"
php artisan view:cache

echo "check file permissions"
cd $WORK_DIR/api-v8/
chown -R www-data:www-data bootstrap/cache storage

echo 'done.'
exit 0
