[Unit]
Description=Mint {{ action }} worker for {{ inventory_hostname }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php artisan mq:{{ action }}
WorkingDirectory={{ app_deploy_target }}/mint
User=www-data
Group=www-data
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
