[Unit]
Description=Mint tulip rpc service for {{ inventory_hostname }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php server.php
WorkingDirectory={{ app_deploy_target }}/mint/dashboard-v4/rpc/tulip/tulip
User=www-data
Group=www-data
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
